
.vs/ListayDatos2/v16/Server/sqlite3/storage.ide-shm
.vs/ListayDatos2/v16/Server/sqlite3/db.lock
.vs/ListayDatos2/v16/.suo
.vs/ListayDatos2/v16/Server/sqlite3/storage.ide
.vs/ListayDatos2/v16/Server/sqlite3/storage.ide-wal
obj/Debug/ListayDatos2.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ListayDatos2.csproj.CoreCompileInputs.cache
obj/Debug/ListayDatos2.csproj.FileListAbsolute.txt
obj/Debug/ListayDatos2.csproj.GenerateResource.cache
obj/Debug/ListayDatos2.csprojAssemblyReference.cache
obj/Debug/ListayDatos2.exe
obj/Debug/ListayDatos2.pdb
obj/Debug/ListayDatos2.csproj.CoreCompileInputs.cache
obj/Debug/ListayDatos2.csproj.FileListAbsolute.txt
obj/Debug/ListayDatos2.csproj.GenerateResource.cache
obj/Debug/ListayDatos2.exe
obj/Debug/ListayDatos2.pdb
bin/Debug/ListayDatos2.exe
bin/Debug/ListayDatos2.pdb
obj/Debug/ListayDatos2.pdb
obj/Debug/ListayDatos2.exe
obj/Debug/ListayDatos2.csproj.GenerateResource.cache
obj/Debug/ListayDatos2.csproj.FileListAbsolute.txt
obj/Debug/ListayDatos2.csproj.CoreCompileInputs.cache
bin/Debug/ListayDatos2.pdb
bin/Debug/ListayDatos2.exe
*.exe
obj/Debug/ListayDatos2.pdb
*.pdb
*.exe
